agm-map {
  height: 450px;
}

#back-fill {
  background: #001f44;
  background: -moz-linear-gradient(top, #001f44 0%, #00779e 100%);
  background: -webkit-linear-gradient(top, #001f44 0%,#00779e 100%);
  background: linear-gradient(to bottom, #001f44 0%,#00779e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001f44', endColorstr='#00779e',GradientType=0 );
  height: 100%;
  overflow: visible;
}

.donate-button {
  background-color: #21f6ff;
  color: black;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-size {
  padding: 5px;
  border: 2px solid #11f7fc;
  border-radius: 20px;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: red;
}

.vacc-color {
  color: #11f7fc;
  margin-bottom: 10px;
}

.donate-color {
  background-color: #11f7fc;
  color: #001f44;
}

.fontbold {
  font-weight: bold;
  font-size: 16px;
}

.fonts {
  font-size: 16px;
}

.d-name {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.d-descrip {
  color: white;
}

.c-affected {
  color: #11f7fc;
  font-weight: bold;
}

.brand-img {
  max-width: 173px;
  max-height: 35px;
}
