<div id="back-fill">
  <nav class="navbar navbar-default" style="height: ">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/mapview"><img class="brand-img" src="../../assets/images/antidote_logo.png"/></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="fonts" routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a class="btn btn-default navbar-btn donate-button fontbold" routerLink="/donate" routerLinkActive="active">Donate To Relief Efforts</a></li>
      </ul>
    </div>
  </nav>
  <div class='container'>
    <div class='row'>
      <div class='col-md-offset-3 col-md-9' style="margin-bottom: 20px">
        <img class='img-responsive' src='../../assets/images/time-divider-2.png' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <p class="d-name" (click)="isCollapsed = !isCollapsed">MALARIA</p>
        <div (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed"
             class="card card-block card-header">
          <div>
            <p class="d-descrip">Malaria is a life-threatening disease that’s typically transmitted through the bite of an infected mosquito.</p>
            <p class="c-affected">Affecting...</p>
            <p class="d-descrip">July 30th Update</p>
            <ul>
              <li class="d-descrip">Hospitals crowded.</li>
              <li class="d-descrip">12,372 vaccines distributed.</li>
            </ul>
            <a class="button-size vacc-color" routerLink="/" routerLinkActive="active">Get Your Vaccine</a>
            <a class="button-size donate-color" routerLink="/donate" routerLinkActive="active">Donate to Relief Efforts</a>
          </div>
        </div>
        <div style="border: solid .5px white; opacity: .2; margin-top: 10px; margin-bottom: 10px"></div>
        <p class="d-name" (click)="isCollapsed2 = !isCollapsed2">ZIKA</p>
        <div (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed2"
             class="card card-block card-header">
          <div>
            <p class="d-descrip">Zika is spread by infected mosquitoes and can negatively affect a pregnant woman and her baby. This can result in severe brain malformations and birth defects.</p>
            <p class="c-affected">Affecting...</p>
            <p class="d-descrip">July 30th Update</p>
            <ul>
              <li class="d-descrip">Red Cross dispatched to area.</li>
              <li class="d-descrip">200,372 vaccines distributed.</li>
            </ul>
            <a class="button-size vacc-color" routerLink="/" routerLinkActive="active">Get Your Vaccine</a>
            <a class="button-size donate-color" routerLink="/donate" routerLinkActive="active">Donate to Relief Efforts</a>
          </div>
        </div>
        <div style="border: solid .5px white; opacity: .2; margin-top: 10px; margin-bottom: 10px"></div>
        <p class="d-name" (click)="isCollapsed3 = !isCollapsed3">INFLUENZA</p>
        <div (collapsed)="collapsed($event)"
             (expanded)="expanded($event)"
             [collapse]="isCollapsed3"
             class="card card-block card-header">
          <div>
            <p class="d-descrip">Influenza (the flu) is a virus that that spreads around the world in a yearly outbreak.</p>
            <p class="c-affected">Affecting...</p>
            <p class="d-descrip">July 30th Update</p>
            <ul>
              <li class="d-descrip">Red Cross dispatched to area.</li>
              <li class="d-descrip">100,372 vaccines distributed.</li>
            </ul>
            <a class="button-size vacc-color" routerLink="/" routerLinkActive="active">Get Your Vaccine</a>
            <a class="button-size donate-color" routerLink="/donate" routerLinkActive="active">Donate to Relief Efforts</a>
          </div>
        </div>
      </div>
      <div class='col-md-9'>
        <agm-map [styles]="myStyles" [zoom]="zoom" [latitude]="lat" [longitude]="lng">
          <agm-marker [iconUrl]="iconUrl" [latitude]="lat" [longitude]="lng"></agm-marker>
          <agm-marker [iconUrl]="iconUrl2" [latitude]="lat2" [longitude]="lng2"></agm-marker>
          <agm-marker [iconUrl]="iconUrl3" [latitude]="lat3" [longitude]="lng3"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
