<nav class="navbar navbar-default" style="height: ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/mapview"><img class="brand-img" src="../../assets/images/antidote_logo.png"/></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="fonts" routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a class="btn btn-default navbar-btn donate-button fontbold" routerLink="/donate" routerLinkActive="active">Donate To Relief Efforts</a></li>
    </ul>
  </div>
</nav>

<div class="wrap">
    <div class="mission-statement">
      <div class="h1-container">
        <h1>By analyzing open data sources, we aim to save millions of lives by accurately predicting onsets of epidemic risks and triggering alerts for preventative measures.
          </h1>
      </div>
    </div>


    <div class="problem">
      <h1>The Problem</h1>
      <p>In 2015, almost half a million people died from malaria.
The best defense is time: disease must be caught as early as possible and curbed before outbreaks become severe.
        </p>
      <p>But what if we can predict outbreaks before they even happen?</p>
    </div>


    <div class="solutions">
      <h1>Our Solution</h1>
      <div class="icons">
        <div class="icon-container">
          <span><img src="../../assets/images/precipitation.png"></span>
          <span class="caption">Precipitation Levels</span>
        </div>
        <div class="icon-container">
          <span><img src="../../assets/images/temperatures.png"></span>
          <span class="caption">Temperatures</span>
        </div>
        <div class="icon-container">
          <span><img src="../../assets/images/machine-learning.png"></span>
          <span class="caption">Machine Learning</span>
        </div>

      </div>
      <div class="icons">
        <div class="icon-container" id="mosquito">
          <span><img src="../../assets/images/mosquito.png"></span>
          <span class="caption">Mosquito Breeding Patterns</span>
        </div>
        <div class="icon-container">
          <span><img src="../../assets/images/location.png"></span>
          <span class="caption">Location Elevation</span>
        </div>
        <div class="icon-container">
          <span><img src="../../assets/images/cow.png"></span>
          <span class="caption">Carrier Reports</span>
        </div>
      </div>
    </div>


    <div class="conclusion">
      <p>By reading weather patterns and climate changes, we can predict onsets of epidemics before they even happen.
        <div class="steps">
          <span>1. Predict onset of illness by analyzing data sources</span>
          <span>2. Promptly alert and prepare appropriate medical services</span>
          <span>3. Stifle and curb illness as early as possible to avoid epidemic</span>
        </div>
      </div>
</div>
