.wrap {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.mission-statement {
  background-image: url(../../assets/images/about-bg.png);
  height: 355px;
  width: 100%;
  margin-top: 0px;
}

.h1-container {
  display: flex;
  margin: 0 auto;
  width: 920px;
  text-align: center;
}

.mission-statement h1{
  color: #fff;
  font-family: "Lato";
  font-size: 36px;
  line-height: 56px;
  margin-top: 85px;
}

h1 {
  font-size: 36px;
  color: #353535;
  font-family: "Lato";
  font-weight: 700;
}

.problem {
  width: 608px;
  text-align: center;
  margin: 90px auto 90px auto;
}


.solutions {
  background-color: #FAFAFA;
  height: 740px;
  margin: 0 auto;
  padding-top: 80px;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 820px;
  margin: 0 auto;
}

.icon-container {
  padding-bottom: 60px;
  padding-top: 80px;
}

.caption {
  color: #029DC2;
  font-family: "Lato";
  font-weight: bold;
  font-size: 24px;
  display: block;
  padding-top: 20px;
}

#mosquito {
  width: 210px;
}

.conclusion{
  font-family: "Lato";
  display: block;
  margin-top: 70px;
  margin-bottom: 120px;
}

.steps span{
  font-weight: bold;
  font-size: 20px;
  display: block;
  padding: 20px 0;
}

.conclusion p{
  width: 421px;
  margin: 0 auto;
  padding-bottom: 70px;

}
